---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "{{ site.theme }}";
	
h1{
  color: #F5F5F5;
  background-color: #D8BFD8;
}
body{ 
	background-color: #FFE4E1;
}


 
  